.container{
  margin:5%;
  position: relative;
  left: 40px;
}
.card{
  margin: .8%;
  padding: 1%;
  text-align: center;
}
img .card-img-top{
  transition: 0.3s ease-in-out;
}
img .card-img-top :hover{
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
.btn-outline-primary{
  margin: 5% 2% 0 1%;
  position: relative;
  right: 30px;
}
.btn-outline-danger{
  margin: 5% 1% 0 1%;
  position: relative;
  left: 30px;
}
.btn-outline-primary:hover{
  background-color: rgb(97, 185, 226);
}
.btn-outline-danger:hover{
  background-color: rgb(231, 145, 145);
}
.search-txt{
  border: none;
  border-bottom: 1px solid black;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  float: left;
  font-size: 16px;
  line-height: 40px;
  width: 75%;
}
.row{
  margin-top: 2%;
}
 .categories{
  width:50px;
  height: 50px;
  margin: 0;
}
