<div class="alert alert-danger"*ngIf="!isLoggedIn" role="alert">
  <a href="#" class="alert-link">Register/Login</a> to add item in wishlist/cart.
</div>
<div class="container container-fluid " >
  <div class="search-product">
    <input type="text" class="search-txt" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Type to search">
    <a class="nav-link search-btn" role="button" ><img class="" src="assets/icons/loupe.png" alt="" height="25px"></a>
  </div>
  <div class="row">
    <ng-container *ngFor="let item of productList | filter:searchKey:'category'">
<div class="card col-md-3" >
  <img src="{{item.image_path}}" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <p class="card-text">Price:{{item.price}}</p>
    <div class="buttons" >
    <button class="btn btn-outline-primary" role="button" [disabled]="!isLoggedIn" (click)="addtocart(item)"><img src="assets/icons/shopping-cart.png" alt="" height="30px"></button>
    <button class="btn btn-outline-danger"  role="button" [disabled]="!isLoggedIn"(click)="addtowishlist(item)"><img src="assets/icons/heart.png" alt="" height="25px"></button>
    </div>
  </div>
</div>
</ng-container>
  </div>
</div>
