*{
  font-family: 'Montserrat', cursive;
}
.register{
  position: relative;
  left: 180px;
}
.register-input{
  position: relative;
  left: 110px;
}
.btn{
  position: relative;
  left: 80px;
}
input{
  border: none;
  border-bottom: 1px solid black;
  outline:none;
}
.alert{
  width: 45%;
  background-color: rgb(233, 190, 187);
  margin: 1% 0 1% 0;
  text-align: center;
  font-size: 13px;
  padding: 0;
}
/* .ng-touched{
  border: none;
  border-bottom: 1px solid red;
} */
.alert-danger{
  background-color: rgb(233, 190, 187);
  text-align: center;
  padding: 3%;
  position: relative;
  right: 180px;
}
.alert-success{
  background-color: rgb(187, 233, 189);
  text-align: center;
  padding: 5%;
  font-weight: 600;
  position: relative;
  right: 100px;
}
