<app-admin></app-admin>
<div>
  <div *ngIf="currentProduct.name" class="edit-form">
    <h4>Tutorial</h4>
    <form #form="ngForm">
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" [(ngModel)]="currentProduct.category" name="category">
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" [(ngModel)]="currentProduct.name" name="name">
      </div>
      <div class="form-group">
        <label for="picture">Picture</label>
        <input type="text" class="form-control" [(ngModel)]="currentProduct.image_path" name="picture">
        <img [src]="currentProduct.image_path" alt="product.name">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" [(ngModel)]="currentProduct.price" name="price">
      </div>
    </form>
    <button class="badge badge-danger mr-2" (click)="deleteProduct()">Delete</button>
    <button type="submit" class="badge badge-success mb-2" (click)="updateProduct()">Update</button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentProduct.name">
    <br>
    <p>Can't access this Product...</p>
  </div>
</div>
