<div id="app">

  <nav class="navbar menu navbar-expand-lg">

    <div class="container-fluid">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/logo.svg" alt="" width="150">
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div class=" nav-container">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Categories -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" *ngIf="!showAdmin"  id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src="assets/icons/menu.png" alt="" height="25px">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ng-container *ngFor="let item of categoryList">
              <li><a class="dropdown-item" href="products" (click)="filter('{{item.category}}')" routerLink="products">{{item.category}}</a></li>
            </ng-container>
            </ul>
          </li>

          <!-- isLoggedIn & Admin -->
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLoggedIn && showAdmin" routerLink="admin" role="button">
              <img src="assets/icons/user.png" alt="" height="25px">
           </a>
          </li>
          <!-- isLoggedIn & User -->
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLoggedIn && !showAdmin" routerLink="profile" role="button">
              <img src="assets/icons/user.png" alt="" height="25px">
           </a>
          </li>

          <!-- !isLoggedIn -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" *ngIf="!isLoggedIn" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src="assets/icons/user.png" alt="" height="25px">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item nav-link"  data-bs-toggle="modal" data-bs-target="#login">Login</a></li>
              <li><a class="dropdown-item nav-link"  data-bs-toggle="modal"data-bs-target="#register" >Register</a></li>
            </ul>
          </li>

          <!-- Wishlist -->
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLoggedIn && !showAdmin" routerLink="wishlist"><img src="assets/icons/heart.png" alt="" height="25px"></a>
            <div class="badge wishlist" *ngIf="isLoggedIn && !showAdmin">{{totalwishList}}</div>
          </li>

          <!-- Shopping Cart -->
          <li class="nav-item">
            <a class="nav-link"routerLink="cart" *ngIf="isLoggedIn && !showAdmin" href="#"><img src="assets/icons/shopping-cart.png" alt=""
                height="30px"></a>
                <div class="badge cart" *ngIf="isLoggedIn && !showAdmin">{{totalItem}}</div>
          </li>
          <li class="nav-item"><a class="nav-link" *ngIf="isLoggedIn" (click)="logout()" href=""><img src="assets/icons/logout.png" alt=""height="30px"></a></li>
        </ul>
      </div>
    </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
