.feature-container{
  margin: 3%;
}
.col-6{
  padding: 5%;
}
.orders{
  margin: 10px 0 10px 0;
}
.customers{
  margin: 10px 0 10px 0;
}
.customers, .category{
  position: relative;
  right: 20px;

}
a{
  text-decoration: none;
  color: black;
}
.category{
  top: 40px;
  margin: 10px 0 30px 0;
}
.orders,.products{
  position: relative;
  left: 20px;

}
.products{
  top: 40px;
  margin: 10px 0 30px 0;
}
