
<div class="feature-container">
  <div class="row">
    <!-- <div class="col-6 customers btn btn-outline-danger" role="button" routerLink="admin/" >
      Customers
    </div>
    <div class="col-6 orders btn btn-outline-primary" role="button" routerLink="orders" >
      Orders
    </div>-->
    <div class="col-6 category btn btn-outline-secondary" role="button" routerLink="categories" >
      Category
    </div>
    <div class="col-6 products btn btn-outline-success" role="button" routerLink="products">
      Products
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="jumbotron">

    <router-outlet></router-outlet>
  </div>
</div>
