.button{
  margin: 3%;
  padding: 5%;
}
.edit-product{
  width: 40%;
  margin: 5% 0 5% -50px;
  padding: 0;
  float:right ;
}

.product-list{
  width: 60%;
  margin: 5% 0 0 20px;
  padding: 0;
  float: left;
}
