<div class="container">
  <div class="row">
    <div class="col-6 edit-product">
       <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"aria-expanded="true" aria-controls="collapseOne">
              Add Category
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <app-add-category></app-add-category>
            </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Update Category
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body update-form">
              <form #form="ngForm"class="mt-4">
                <div class="form-group">
                  <label for="category">Category Name</label>
                  <input type="text" name="category" [(ngModel)]="currentCategory.category" required  class="form-control">
                </div>

                <div class="form-group">
                  <label for="image_path">Image Path</label>
                  <input type="text" name="image_path" [(ngModel)]="currentCategory.image" required class="form-control">
                </div>
                <button  class="btn btn-outline-success" (click)="updateCategory()" >Update</button>
              </form>
            </div>
           </div>
          </div>
         </div>
        </div>
    <div class="col-6 product-list">
      <div class="accordion productlist" id="productList">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"aria-expanded="true" aria-controls="collapseTwo">
            Category List
           </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"data-bs-parent="#productList">
            <div class="accordion-body">
              <table class="table table-hover table-responsive">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Image</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of categories;let i = index">
                  <tr>
                    <th [class.active]="i == currentIndex">{{i+1}}</th>
                    <td><img src="{{item.image}}" alt="" width="50px" height="50px"></td>
                    <td>{{item.category}}</td>
                    <td colspan="2">
                      <button class="button btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" (click)="setActiveCategory(item,i)"><img src="assets/icons/edit.png" width="25px" height="25px" alt=""></button>
                      <button class="button btn btn-outline-danger" (click)="deleteCategory()"><img src="assets/icons/delete.png" width="25px" height="25px" alt=""></button>
                  </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
 </div>
