<ng-container *ngIf="wishList.length==0">
  <div class="container">
    <div class="card-empty">
      <h5 class="card-title">My Wishlist</h5>
    </div>
    <div class="center">
      <img src="assets/icon-color/heart.png" alt="" class="img">
      <h4>Your wishlist is empty</h4>
      <h6>Add item to it now</h6>
      <button class="btn btn-primary" routerLink="/products">Shop Now</button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="wishList.length!=0">
  <div class="container container-fluid ">
    <div class="row">
      <ng-container *ngFor="let product of wishList">
        <div class="card col-md-3">
          <img src="{{product.image_path}}" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">Price:{{product.price}}</p>
            <div class="buttons">
              <a class="btn btn-outline-primary" (click)="addtocart(product)"><img src="assets/icons/shopping-cart.png"
                  alt="" height="30px"></a>
              <a class="btn btn-outline-danger" (click)="removeItem(product)"><img src="assets/icons/delete.png" alt=""
                  height="25px"></a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <button class="btn btn-primary" routerLink="/products">Shop More</button>
  </div>
</ng-container>
