.profile-container{
  text-align: center;
  margin-top: 2%;
  padding: 4% 5% ;
  color: white;
  background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
}
a{
  color: white;
}
a:hover{
  color: black;
  background-color: white;
}
.nav-item{
  position: relative;
  left: 300px;
}
.form-container{
  width: 90%;
  margin: 4%;
  text-align: center;
}
input, button,label{
  border: none;
  margin: 2%;
  width: 100%;
  outline: none;
}
label{
  text-align: left;
}
input:hover{
  border-bottom: 1px solid black;
}
